<div class="col-xs-12 text-center">
	<h2 style="font-size: 120px;"">Thank you!</h2>
	<p style="font-size: 60px;">Your donation of <strong><%= number_to_currency(@amount * 0.01) %></strong>
	 has been received.</p>
 </div>