<h1>Lever App</h1>
<p>Thanks for Donating!</p>

<!-- <meta http-equiv="refresh" content="1; url=https://checkout.stripe.com/v3/ZQdHTgQQb08RG01SxL4MA.html?distinct_id=ed0d7758-39f0-b466-a744-4e38690f988b"> -->



<body onload="submit();">
	<form id="submitForm" action="/charge" method="POST">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<script
	  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	  data-key="<%= ENV["STRIPE_PUBLISHABLE_KEY"] %>"
	  data-amount="1000"
	  data-name="Name of Cause"
	  data-description="Description of Cause"
	  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
	  data-locale="auto"
	  data-zip-code="true">
	</script>
	</form>
</body>


<script type="text/javascript">

    function submit()
    {
    	document.querySelector('#submitForm button').click();
    	console.log("hello");
    }
</script>